@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&display=swap');

body {
    font-family: 'IBM Plex Mono', monospace;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #300047, #8B0000);
    color: #f2f7f2;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Audiowide', cursive;
}

h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 30px;
    text-shadow: 0 0 10px #FF4081, 0 0 20px #FF4081;
}

.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.stars {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 0;
    pointer-events: none;
}

.star {
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
    width: 2px;
    height: 2px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.9);
    animation: twinkle 4s infinite alternate ease-in-out, moveStars 8s linear infinite;
}


@keyframes twinkle {
    0% {
        opacity: 0.3;
        transform: scale(1);
    }

    50% {
        opacity: 1;
        transform: scale(1.8);
    }

    100% {
        opacity: 0.3;
        transform: scale(1);
    }
}


@keyframes moveStars {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-200px);
    }
}


.title {
    font-family: 'Orbitron', sans-serif;
    font-size: 4rem;
    font-weight: 700;
    color: #FF4081;
    text-shadow: 0 0 15px #FF4081, 0 0 25px #FF4081, 0 0 35px #FF4081;
    position: relative;
    z-index: 2;
    animation: neon-flicker 1.5s infinite alternate;
}

.subtitle {
    margin-bottom: 50px;
}


.tech-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 15px;
}

.tech-icons img {
    margin-bottom: 50px;
    width: 50px;
    height: auto;
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.8));
    transition: transform 0.3s ease-in-out;
}

.tech-icons img:hover {
    transform: scale(1.2);
    filter: drop-shadow(0 0 20px rgba(255, 64, 129, 0.9));
}


@keyframes neon-flicker {
    0% {
        text-shadow: 0 0 15px #FF4081, 0 0 25px #FF4081;
    }

    50% {
        text-shadow: 0 0 20px #FF1053, 0 0 30px #FF1053;
    }

    100% {
        text-shadow: 0 0 15px #FF4081, 0 0 25px #FF4081;
    }
}


.btn {
    padding-top: 120px;
    padding: 12px 30px;
    background: #FF4081;
    color: #f2f7f2;
    text-decoration: none;
    font-weight: bold;
    border-radius: 25px;
    transition: 0.3s;
    position: relative;
    z-index: 2;
    box-shadow: 0 0 10px #FF4081;
    animation: glow 1.5s infinite alternate;
}

.container {
    padding: 40px 120px;
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;

}

.about-image img {
    width: 420px;
    height: 420px;
    border-radius: 15px;
    object-fit: cover;
    /* filter: contrast(1.2) brightness(0.9) saturate(1.5) hue-rotate(-15deg); */
    box-shadow: 0 0 20px rgba(255, 64, 129, 0.5);
    /* transition: transform 0.3s ease-in-out; */
}

/* .about-image img:hover {
    transform: scale(1.05);
} */

.about-text {
    max-width: 550px;
    text-align: left;
    color: #f2f7f2;
}


.about-text p {
    font-size: 1.1rem;
    line-height: 1.6;
}

.retro-image {
    width: 300px;
    height: auto;
    filter: contrast(1.2) saturate(1.4) sepia(0.3);
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(255, 64, 129, 0.8);
}

.project {

    padding: 15px;
    border-radius: 15px;
    transition: transform 0.3s ease-in-out;
    text-align: center;
}



.project-slider {
    width: 100%;
    max-width: 900px;
    max-height: 900px;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
}

.project-slider img {
    width: 100%;
    border-radius: 10px;
    transform: scale(1.03);
}

.project-info {
    text-align: center;
    margin-top: 15px;
}

.project-info h3 {
    font-size: 1.2rem;
    color: #FF4081;
    text-shadow: 0 0 5px #FF4081;
}

.swiper {
    position: relative;
    padding-bottom: 50px;
}

.swiper-slide {
    box-shadow: 0 0 40px rgba(255, 64, 129, 0.5);
}


.swiper-button-next,
.swiper-button-prev {
    color: #ff4081 !important;

}


.swiper-slide img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
    filter: contrast(1.2) saturate(1.3);

}

.swiper-slide {
    overflow: visible !important;
    height: 415px;
}

.swiper-slide:hover {
    transform: scale(1.05);
}


.swiper-button-next,
.swiper-button-prev {
    color: #ff4081 !important;
}

.tech-stack {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px; /* Відстань між іконками */
    padding: 10px;
}

.tech-stack img {
    width: 50px;  /* Оптимальний розмір для мобільних */
    height: auto;
    transition: transform 0.3s ease-in-out;
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.6));
}

.tech-stack img:hover {
    transform: scale(1.2);
    filter: drop-shadow(0 0 10px rgba(255, 64, 129, 0.9));
}

#hobbies {
    padding: 40px 0;
    text-align: center;
    /* background: linear-gradient(135deg, #2a003d, #710000); */
    color: #f2f7f2;
}



.hobby-description {
    font-size: 1.2rem;
    max-width: 600px;
    margin: 0 auto 30px;
    color: #f2f7f2;
    opacity: 0.9;
}

.hobby-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    /* Автоматична адаптація */
    gap: 30px;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}

.hobby-item video {
    width: 100%;
    border-radius: 10px;
}

.hobby-item {
    background: rgba(255, 64, 129, 0.1);
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0 0 10px rgba(255, 64, 129, 0.8);
    transition: transform 0.3s ease-in-out;
    max-width: 400px;
    text-align: center;
}

.hobby-item:hover {
    transform: scale(1.05);
}


.hobby-item video {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(255, 64, 129, 0.6);
}

#contact {
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px rgba(255, 64, 129, 0.4);
    max-width: 1700px;
    position: relative;
    overflow: hidden;
    background: rgba(255, 64, 129, 0.2);
}



@keyframes glow-title {
    0% {
        text-shadow: 0 0 10px #FF4081, 0 0 20px #FF1053;
    }

    100% {
        text-shadow: 0 0 15px #FF1053, 0 0 25px #FF4081;
    }
}

.contact-subtitle {
    font-size: 1.2rem;
    color: #f2f7f2;
    margin-bottom: 30px;
    opacity: 0.8;
}


.contact-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 1.3rem;
    color: #f2f7f2;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 30px;
    transition: 0.3s ease-in-out;
    box-shadow: 0 0 10px rgba(255, 64, 129, 0.6);
    background: rgba(255, 64, 129, 0.2);
    backdrop-filter: blur(8px);
    border: 2px solid rgba(255, 64, 129, 0.4);
    position: relative;
    overflow: hidden;
}

.contact-item:hover {
    color: #FF4081;
    background: rgba(255, 64, 129, 0.3);
    box-shadow: 0 0 15px rgba(255, 64, 129, 0.8);
    transform: scale(1.05);
}

.contact-item img {
    width: 28px;
    height: 28px;
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.8));
    transition: transform 0.3s;
}

.contact-item:hover img {
    transform: scale(1.2);
}




@keyframes glow {
    0% {
        box-shadow: 0 0 5px #FF4081, 0 0 10px #FF4081;
    }

    100% {
        box-shadow: 0 0 15px #FF1053, 0 0 25px #FF1053;
    }
}



@media (max-width: 1024px) {
    .container {
        padding: 40px 60px;
    }

    .hero {
        height: 90vh;
    }

    .title {
        font-size: 3rem;
    }

    .tech-icons {
        gap: 15px;
    }

    .about-container {
        flex-direction: column;
        text-align: center;
    }

    .about-image img {
        width: 320px;
        height: 320px;
    }

    .about-text {
        max-width: 100%;
    }

    .swiper-slide img {
        width: 90%;
    }

    .hobby-grid {
        grid-template-columns: repeat(2, 1fr);
        /* 2 відео в ряд */
    }

    .contact-links {
        gap: 15px;
    }

    
}

@media (max-width: 768px) {
    .container {
        padding: 30px;
    }

    .hero {
        height: 85vh;
    }

    .title {
        font-size: 2.5rem;
    }

    .subtitle {
        font-size: 1.2rem;
    }



    .tech-icons img {
        width: 40px;
    }
    .tech-stack {
        gap: 6px;
    }

    .tech-stack img {
        width: 35px; /* Ще компактніше для малих екранів */
    }
    .about-container {
        flex-direction: column;
        text-align: center;
    }

    .about-image img {
        width: 280px;
        height: 280px;
    }

    .about-text h2 {
        font-size: 2rem;
    }

    .about-text p {
        font-size: 1rem;
    }

    .swiper-slide img {
        width: 100%;
    }

    .hobby-grid {
        grid-template-columns: repeat(1, 1fr);
        /* 1 відео в ряд */
    }

    .contact-links {
        flex-direction: column;
        align-items: center;
    }

    .contact-item {
        width: 100%;
        text-align: center;
    }
}


@media (max-width: 480px) {
    .container {
        padding: 20px;
    }

    .hero {
        height: 80vh;
    }

    .title {
        font-size: 2rem;
    }

    .subtitle {
        font-size: 1rem;
    }

    .tech-icons img {
        width: 35px;
    }

    .about-image img {
        width: 240px;
        height: 240px;
    }

    .about-text h2 {
        font-size: 1.8rem;
    }

    .about-text p {
        font-size: 0.9rem;
    }

    .swiper-slide img {
        width: 100%;
    }

    .hobby-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .contact-item {
        font-size: 1rem;
    }

    .tech-stack {
        gap: 6px;
    }

    .tech-stack img {
        width: 35px; /* Ще компактніше для малих екранів */
    }
}